/* Reset some default styles and set a background color */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
}

header {
    background-color: #239f85;
    color: #fff;
    text-align: center;
    padding: 30px 0;
}

h1 {
    font-size: 36px;
}

nav ul {
    list-style: none;
    background-color: #34495e;
    text-align: center;
}

nav li {
    display: inline;
    margin: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

main {
    margin: 20px;
}

section {
    background-color: #fff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

footer {
    text-align: center;
    background-color: #34495e;
    color: #fff;
    padding: 10px 0;
}
